.topnav-right {
    display: block;
    margin-left: auto;
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

a.two {color: teal !important;}
a.two:hover {text-decoration: none !important;}

a h3 {color: black;}
a.beads:hover {color: black;} 
a.beads:link {color: black;}

button {
  background-color: #7b4e91 !important;
  color: white !important;
  border-style: none !important;
}
.footer {
  background-color: #7b4e91;
}
.footer a {
  color: lavender;
}